li,
a,
a:hover{
    cursor: pointer;
    color: #444;
    text-decoration: none;
    padding: 6px 0px 5px;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    transition-duration: 1s;
}

h2,
label {
    color: black;
}

img {
    max-width: 300px;
}

/*Navigation*/
.nav {
    background-color: #ffcd00;
    border-top: 25px solid #113d64;
    border-bottom: 8px solid #113d64;
}

.logo {
    float: left;
    height: 51px;
    padding-left: 40px;
}

#logo-name {
    vertical-align: top;
}

.menu ul,
.menu a {
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    font-size: 20px;
}

.active a {
    padding-top: 10px;
    padding-bottom: 0px;
    color: #000;
}

/*Content*/
.pages {
    font-size: 20px;
}

.title {
    padding: 0px 0px 10px;
    border-bottom: 2px darkgray solid;
    margin-bottom: 20px;
}

.body_page {
    padding-top: 10px;
    border-top: 2px darkgray solid;
    margin-top: 20px;
    word-wrap: break-word;
}