li,
a,
a:hover {
    color: #444;
    text-decoration: none;
    padding: 6px 0 5px;
    list-style-type: none;
}

h2,
label {
    color: black;
}

img {
    max-width: 300px;
}

/*Header*/
.header {
    background-color: #ffcd00;
    border-top: 25px solid #113d64;
    border-bottom: 8px solid #113d64;
    margin-bottom: 10px;
}

.logo {
    float: left;
    height: 51px;
    padding-left: 40px;
}

#logo-name {
    vertical-align: top;
}

.menu ul,
.menu a {
    display: inline-block;
    margin: 0;
    font-size: 20px;
}

/*Content*/
.posts {
    font-size: 20px;
}

.body_post {
    padding-bottom: 10px;
    border-bottom: 2px darkgray solid;
    margin-bottom: 20px;
    word-wrap: break-word;
}